.main-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: orange;
  height: 470px;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 20px;  
}

.main-avatar {
  display: flex;
  margin-top: 110px;
}

.name {
  display: flex;
  align-items: flex-start;
  font-size: 1.5rem;
  color: #ffff;
}

.name span {
  font-weight: 100;
}