.main-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: orange;
  height: 380px;
  width: 100%;
  margin-top: 120px;
  margin-bottom: 20px;  
}

.avatar {
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
}

.name {
  color: #ffff;
  display: flex;
  align-items: flex-start;
}