.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  padding-left: 2em;
  padding-right: 2em;
  position: fixed;
  width: 100%;
  background-color: orange;
  background-image: url("../images/connected.png");
}

.tweeter {
  color: #ffffff;
  font-family: 'Bungee', cursive;
  font-size: 1.6rem;
}

.write-new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2rem;
}

.double-arrow {
  width: 20px;
  height: 20px;
}

.write-new-tweet i {
  color: red;
}


/* Desktop styles */
@media only screen and (min-width: 1024px) {
  .top-bar {
    /* position: relative; */
    background-color: #4056A1;
    background-image: none;
  }
}